
#content {
	width: 800px;
}

#messages {
	height: 300px;
	overflow: auto;
	background-color: #eee;
	margin-bottom: 1em;
	margin-right: 10px;
}

#left-box {
	border: solid;
	padding: 10px;
	width: 50%;
}

#status-box {
	float: right;
	border: solid;
	width: 50vh;
	padding: 10px;
}

#error-box {
	display: none;
}